
extends layout

block content
    h1= title
    p Are you sure you want to delete this genre?

    if booksInGenre.length
        p This genre has associated books and cannot be deleted until they are deleted:
        ul
            each book in booksInGenre
                li
                    a(href=book.url) #{book.title}

    else
        form(action=action, method='post')
            input(type='submit', value='Delete')
